# Exercise 02 -  OLAP Cubes - Grouping Sets

All the databases table in this demo are based on public database samples and transformations
- `Sakila` is a sample database created by `MySql` [Link](https://dev.mysql.com/doc/sakila/en/sakila-structure.html)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](http://archive.oreilly.com/oreillyschool/courses/dba3/index.html)

Start by connecting to the database by running the cells below. If you are coming back to this exercise, then uncomment and run the first cell to recreate the database. If you recently completed the slicing and dicing exercise, then skip to the second cell.

In [1]:
!PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila_star
!PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila_star -f Data/pagila-star.sql

createdb: database creation failed: ERROR:  database "pagila_star" already exists
 set_config
------------

(1 row)

psql:Data/pagila-star.sql:42: ERROR:  type "mpaa_rating" already exists
psql:Data/pagila-star.sql:52: ERROR:  type "year" already exists
psql:Data/pagila-star.sql:69: ERROR:  function "_group_concat" already exists with same argument types
psql:Data/pagila-star.sql:86: ERROR:  function "film_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:103: ERROR:  function "film_not_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:148: ERROR:  function "get_customer_balance" already exists with same argument types
psql:Data/pagila-star.sql:170: ERROR:  function "inventory_held_by_customer" already exists with same argument types
psql:Data/pagila-star.sql:207: ERROR:  function "inventory_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:225: ERROR:  function "last_day" already exists with same argument types
psql:Data/pagila-star.sql:240: ERROR:  function "last_updated" already exists with same argument types
psql:Data/pagila-star.sql:264: ERROR:  relation "customer" already exists
psql:Data/pagila-star.sql:328: ERROR:  function "rewards_report" already exists with same argument types
psql:Data/pagila-star.sql:340: ERROR:  function "group_concat" already exists with same argument types
psql:Data/pagila-star.sql:354: ERROR:  relation "actor_actor_id_seq" already exists
psql:Data/pagila-star.sql:368: ERROR:  relation "actor" already exists
psql:Data/pagila-star.sql:382: ERROR:  relation "category_category_id_seq" already exists
psql:Data/pagila-star.sql:395: ERROR:  relation "category" already exists
psql:Data/pagila-star.sql:409: ERROR:  relation "film_film_id_seq" already exists
psql:Data/pagila-star.sql:433: ERROR:  relation "film" already exists
psql:Data/pagila-star.sql:446: ERROR:  relation "film_actor" already exists
psql:Data/pagila-star.sql:459: ERROR:  relation "film_category" already exists
psql:Data/pagila-star.sql:482: ERROR:  relation "actor_info" already exists
psql:Data/pagila-star.sql:496: ERROR:  relation "address_address_id_seq" already exists
psql:Data/pagila-star.sql:514: ERROR:  relation "address" already exists
psql:Data/pagila-star.sql:528: ERROR:  relation "city_city_id_seq" already exists
psql:Data/pagila-star.sql:542: ERROR:  relation "city" already exists
psql:Data/pagila-star.sql:556: ERROR:  relation "country_country_id_seq" already exists
psql:Data/pagila-star.sql:569: ERROR:  relation "country" already exists
psql:Data/pagila-star.sql:583: ERROR:  relation "customer_customer_id_seq" already exists
psql:Data/pagila-star.sql:597: ERROR:  relation "customer_customer_id_seq1" already exists
psql:Data/pagila-star.sql:629: ERROR:  relation "customer_list" already exists
psql:Data/pagila-star.sql:655: ERROR:  relation "dimcustomer" already exists
psql:Data/pagila-star.sql:669: ERROR:  relation "dimcustomer_customer_key_seq" already exists
psql:Data/pagila-star.sql:694: ERROR:  relation "dimdate" already exists
psql:Data/pagila-star.sql:715: ERROR:  relation "dimmovie" already exists
psql:Data/pagila-star.sql:729: ERROR:  relation "dimmovie_movie_key_seq" already exists
psql:Data/pagila-star.sql:758: ERROR:  relation "dimstore" already exists
psql:Data/pagila-star.sql:772: ERROR:  relation "dimstore_store_key_seq" already exists
psql:Data/pagila-star.sql:795: ERROR:  relation "factsales" already exists
psql:Data/pagila-star.sql:809: ERROR:  relation "factsales_sales_key_seq" already exists
psql:Data/pagila-star.sql:839: ERROR:  relation "film_list" already exists
psql:Data/pagila-star.sql:853: ERROR:  relation "inventory_inventory_id_seq" already exists
psql:Data/pagila-star.sql:867: ERROR:  relation "inventory" already exists
psql:Data/pagila-star.sql:881: ERROR:  relation "language_language_id_seq" already exists
psql:Data/pagila-star.sql:894: ERROR:  relation "language" already exists
psql:Data/pagila-star.sql:917: ERROR:  relation "nicer_but_slower_film_list" already exists
psql:Data/pagila-star.sql:931: ERROR:  relation "payment_payment_id_seq" already exists
psql:Data/pagila-star.sql:947: ERROR:  relation "payment" already exists
psql:Data/pagila-star.sql:961: ERROR:  relation "rental_rental_id_seq" already exists
psql:Data/pagila-star.sql:978: ERROR:  relation "rental" already exists
psql:Data/pagila-star.sql:997: ERROR:  relation "sales_by_film_category" already exists
psql:Data/pagila-star.sql:1011: ERROR:  relation "staff_staff_id_seq" already exists
psql:Data/pagila-star.sql:1032: ERROR:  relation "staff" already exists
psql:Data/pagila-star.sql:1046: ERROR:  relation "store_store_id_seq" already exists
psql:Data/pagila-star.sql:1060: ERROR:  relation "store" already exists
psql:Data/pagila-star.sql:1082: ERROR:  relation "sales_by_store" already exists
psql:Data/pagila-star.sql:1103: ERROR:  relation "staff_list" already exists
psql:Data/pagila-star.sql:1348: ERROR:  duplicate key value violates unique constraint "actor_pkey"
DETAIL:  Key (actor_id)=(1) already exists.
CONTEXT:  COPY actor, line 1
 setval
--------
    200
(1 row)

psql:Data/pagila-star.sql:1966: ERROR:  duplicate key value violates unique constraint "address_pkey"
DETAIL:  Key (address_id)=(1) already exists.
CONTEXT:  COPY address, line 1
 setval
--------
    605
(1 row)

psql:Data/pagila-star.sql:1997: ERROR:  duplicate key value violates unique constraint "category_pkey"
DETAIL:  Key (category_id)=(1) already exists.
CONTEXT:  COPY category, line 1
 setval
--------
     16
(1 row)

psql:Data/pagila-star.sql:2612: ERROR:  duplicate key value violates unique constraint "city_pkey"
DETAIL:  Key (city_id)=(1) already exists.
CONTEXT:  COPY city, line 1
 setval
--------
    600
(1 row)

psql:Data/pagila-star.sql:2736: ERROR:  duplicate key value violates unique constraint "country_pkey"
DETAIL:  Key (country_id)=(1) already exists.
CONTEXT:  COPY country, line 1
 setval
--------
    109
(1 row)

psql:Data/pagila-star.sql:3350: ERROR:  duplicate key value violates unique constraint "customer_pkey"
DETAIL:  Key (customer_id)=(1) already exists.
CONTEXT:  COPY customer, line 1
 setval
--------
    599
(1 row)

 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:3971: ERROR:  duplicate key value violates unique constraint "dimcustomer_pkey"
DETAIL:  Key (customer_key)=(1) already exists.
CONTEXT:  COPY dimcustomer, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:4026: ERROR:  duplicate key value violates unique constraint "dimdate_pkey"
DETAIL:  Key (date_key)=(20170216) already exists.
CONTEXT:  COPY dimdate, line 1
psql:Data/pagila-star.sql:5034: ERROR:  duplicate key value violates unique constraint "dimmovie_pkey"
DETAIL:  Key (movie_key)=(1) already exists.
CONTEXT:  COPY dimmovie, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:5051: ERROR:  duplicate key value violates unique constraint "dimstore_pkey"
DETAIL:  Key (store_key)=(1) already exists.
CONTEXT:  COPY dimstore, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:21115: ERROR:  duplicate key value violates unique constraint "factsales_pkey"
DETAIL:  Key (sales_key)=(1) already exists.
CONTEXT:  COPY factsales, line 1
 setval
--------
  16049
(1 row)

psql:Data/pagila-star.sql:22130: ERROR:  duplicate key value violates unique constraint "film_pkey"
DETAIL:  Key (film_id)=(1) already exists.
CONTEXT:  COPY film, line 1: "1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The C..."
psql:Data/pagila-star.sql:27600: ERROR:  duplicate key value violates unique constraint "film_actor_pkey"
DETAIL:  Key (actor_id, film_id)=(1, 1) already exists.
CONTEXT:  COPY film_actor, line 1
psql:Data/pagila-star.sql:28608: ERROR:  duplicate key value violates unique constraint "film_category_pkey"
DETAIL:  Key (film_id, category_id)=(1, 6) already exists.
CONTEXT:  COPY film_category, line 1
 setval
--------
   1000
(1 row)

psql:Data/pagila-star.sql:33204: ERROR:  duplicate key value violates unique constraint "inventory_pkey"
DETAIL:  Key (inventory_id)=(1) already exists.
CONTEXT:  COPY inventory, line 1
 setval
--------
   4581
(1 row)

psql:Data/pagila-star.sql:33225: ERROR:  duplicate key value violates unique constraint "language_pkey"
DETAIL:  Key (language_id)=(1) already exists.
CONTEXT:  COPY language, line 1
 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

psql:Data/pagila-star.sql:65348: ERROR:  duplicate key value violates unique constraint "rental_pkey"
DETAIL:  Key (rental_id)=(2) already exists.
CONTEXT:  COPY rental, line 1
 setval
--------
  16049
(1 row)

psql:Data/pagila-star.sql:65365: ERROR:  duplicate key value violates unique constraint "staff_pkey"
DETAIL:  Key (staff_id)=(1) already exists.
CONTEXT:  COPY staff, line 1
 setval
--------
      2
(1 row)

psql:Data/pagila-star.sql:65382: ERROR:  duplicate key value violates unique constraint "store_pkey"
DETAIL:  Key (store_id)=(1) already exists.
CONTEXT:  COPY store, line 1
 setval
--------
      2
(1 row)

psql:Data/pagila-star.sql:65397: ERROR:  multiple primary keys for table "actor" are not allowed
psql:Data/pagila-star.sql:65405: ERROR:  multiple primary keys for table "address" are not allowed
psql:Data/pagila-star.sql:65413: ERROR:  multiple primary keys for table "category" are not allowed
psql:Data/pagila-star.sql:65421: ERROR:  multiple primary keys for table "city" are not allowed
psql:Data/pagila-star.sql:65429: ERROR:  multiple primary keys for table "country" are not allowed
psql:Data/pagila-star.sql:65437: ERROR:  multiple primary keys for table "customer" are not allowed
psql:Data/pagila-star.sql:65445: ERROR:  multiple primary keys for table "dimcustomer" are not allowed
psql:Data/pagila-star.sql:65453: ERROR:  multiple primary keys for table "dimdate" are not allowed
psql:Data/pagila-star.sql:65461: ERROR:  multiple primary keys for table "dimmovie" are not allowed
psql:Data/pagila-star.sql:65469: ERROR:  multiple primary keys for table "dimstore" are not allowed
psql:Data/pagila-star.sql:65477: ERROR:  multiple primary keys for table "factsales" are not allowed
psql:Data/pagila-star.sql:65485: ERROR:  multiple primary keys for table "film_actor" are not allowed
psql:Data/pagila-star.sql:65493: ERROR:  multiple primary keys for table "film_category" are not allowed
psql:Data/pagila-star.sql:65501: ERROR:  multiple primary keys for table "film" are not allowed
psql:Data/pagila-star.sql:65509: ERROR:  multiple primary keys for table "inventory" are not allowed
psql:Data/pagila-star.sql:65517: ERROR:  multiple primary keys for table "language" are not allowed
psql:Data/pagila-star.sql:65525: ERROR:  multiple primary keys for table "rental" are not allowed
psql:Data/pagila-star.sql:65533: ERROR:  multiple primary keys for table "staff" are not allowed
psql:Data/pagila-star.sql:65541: ERROR:  multiple primary keys for table "store" are not allowed
psql:Data/pagila-star.sql:65548: ERROR:  relation "film_fulltext_idx" already exists
psql:Data/pagila-star.sql:65555: ERROR:  relation "idx_actor_last_name" already exists
psql:Data/pagila-star.sql:65562: ERROR:  relation "idx_fk_address_id" already exists
psql:Data/pagila-star.sql:65569: ERROR:  relation "idx_fk_city_id" already exists
psql:Data/pagila-star.sql:65576: ERROR:  relation "idx_fk_country_id" already exists
psql:Data/pagila-star.sql:65583: ERROR:  relation "idx_fk_customer_id" already exists
psql:Data/pagila-star.sql:65590: ERROR:  relation "idx_fk_film_id" already exists
psql:Data/pagila-star.sql:65597: ERROR:  relation "idx_fk_inventory_id" already exists
psql:Data/pagila-star.sql:65604: ERROR:  relation "idx_fk_language_id" already exists
psql:Data/pagila-star.sql:65611: ERROR:  relation "idx_fk_original_language_id" already exists
psql:Data/pagila-star.sql:65618: ERROR:  relation "idx_fk_payment_customer_id" already exists
psql:Data/pagila-star.sql:65625: ERROR:  relation "idx_fk_payment_staff_id" already exists
psql:Data/pagila-star.sql:65632: ERROR:  relation "idx_fk_store_id" already exists
psql:Data/pagila-star.sql:65639: ERROR:  relation "idx_last_name" already exists
psql:Data/pagila-star.sql:65646: ERROR:  relation "idx_store_id_film_id" already exists
psql:Data/pagila-star.sql:65653: ERROR:  relation "idx_title" already exists
psql:Data/pagila-star.sql:65660: ERROR:  relation "idx_unq_manager_staff_id" already exists
psql:Data/pagila-star.sql:65667: ERROR:  relation "idx_unq_rental_rental_date_inventory_id_customer_id" already exists
psql:Data/pagila-star.sql:65674: ERROR:  trigger "film_fulltext_trigger" for relation "film" already exists
psql:Data/pagila-star.sql:65681: ERROR:  trigger "last_updated" for relation "actor" already exists
psql:Data/pagila-star.sql:65688: ERROR:  trigger "last_updated" for relation "address" already exists
psql:Data/pagila-star.sql:65695: ERROR:  trigger "last_updated" for relation "category" already exists
psql:Data/pagila-star.sql:65702: ERROR:  trigger "last_updated" for relation "city" already exists
psql:Data/pagila-star.sql:65709: ERROR:  trigger "last_updated" for relation "country" already exists
psql:Data/pagila-star.sql:65716: ERROR:  trigger "last_updated" for relation "customer" already exists
psql:Data/pagila-star.sql:65723: ERROR:  trigger "last_updated" for relation "film" already exists
psql:Data/pagila-star.sql:65730: ERROR:  trigger "last_updated" for relation "film_actor" already exists
psql:Data/pagila-star.sql:65737: ERROR:  trigger "last_updated" for relation "film_category" already exists
psql:Data/pagila-star.sql:65744: ERROR:  trigger "last_updated" for relation "inventory" already exists
psql:Data/pagila-star.sql:65751: ERROR:  trigger "last_updated" for relation "language" already exists
psql:Data/pagila-star.sql:65758: ERROR:  trigger "last_updated" for relation "rental" already exists
psql:Data/pagila-star.sql:65765: ERROR:  trigger "last_updated" for relation "staff" already exists
psql:Data/pagila-star.sql:65772: ERROR:  trigger "last_updated" for relation "store" already exists
psql:Data/pagila-star.sql:65780: ERROR:  constraint "address_city_id_fkey" for relation "address" already exists
psql:Data/pagila-star.sql:65788: ERROR:  constraint "city_country_id_fkey" for relation "city" already exists
psql:Data/pagila-star.sql:65796: ERROR:  constraint "customer_address_id_fkey" for relation "customer" already exists
psql:Data/pagila-star.sql:65804: ERROR:  constraint "customer_store_id_fkey" for relation "customer" already exists
psql:Data/pagila-star.sql:65812: ERROR:  constraint "factsales_customer_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:65820: ERROR:  constraint "factsales_date_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:65828: ERROR:  constraint "factsales_movie_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:65836: ERROR:  constraint "factsales_store_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:65844: ERROR:  constraint "film_actor_actor_id_fkey" for relation "film_actor" already exists
psql:Data/pagila-star.sql:65852: ERROR:  constraint "film_actor_film_id_fkey" for relation "film_actor" already exists
psql:Data/pagila-star.sql:65860: ERROR:  constraint "film_category_category_id_fkey" for relation "film_category" already exists
psql:Data/pagila-star.sql:65868: ERROR:  constraint "film_category_film_id_fkey" for relation "film_category" already exists
psql:Data/pagila-star.sql:65876: ERROR:  constraint "film_language_id_fkey" for relation "film" already exists
psql:Data/pagila-star.sql:65884: ERROR:  constraint "film_original_language_id_fkey" for relation "film" already exists
psql:Data/pagila-star.sql:65892: ERROR:  constraint "inventory_film_id_fkey" for relation "inventory" already exists
psql:Data/pagila-star.sql:65900: ERROR:  constraint "inventory_store_id_fkey" for relation "inventory" already exists
psql:Data/pagila-star.sql:65908: ERROR:  constraint "payment_customer_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:65916: ERROR:  constraint "payment_rental_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:65924: ERROR:  constraint "payment_staff_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:65932: ERROR:  constraint "rental_customer_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:65940: ERROR:  constraint "rental_inventory_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:65948: ERROR:  constraint "rental_staff_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:65956: ERROR:  constraint "staff_address_id_fkey" for relation "staff" already exists
psql:Data/pagila-star.sql:65964: ERROR:  constraint "staff_store_id_fkey" for relation "staff" already exists
psql:Data/pagila-star.sql:65972: ERROR:  constraint "store_address_id_fkey" for relation "store" already exists

### Connect to the local database where Pagila is loaded

In [2]:
import sql
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila_star'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

postgresql://student:student@127.0.0.1:5432/pagila_star

'Connected: student@pagila_star'

### Star Schema

<img src="pagila-star.png" width="50%"/>

# Grouping Sets
- It happens often that for 3 dimensions, you want to aggregate a fact:
    - by nothing (total)
    - then by the 1st dimension
    - then by the 2nd 
    - then by the 3rd 
    - then by the 1st and 2nd
    - then by the 2nd and 3rd
    - then by the 1st and 3rd
    - then by the 1st and 2nd and 3rd
    
- Since this is very common, and in all cases, we are iterating through all the fact table anyhow, there is a more clever way to do that using the SQL grouping statement "GROUPING SETS"

## Total Revenue

TODO: Write a query that calculates total revenue (sales_amount)

In [3]:
%%sql
SELECT sum(sales_amount) as total_revenue
FROM factSales;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
1 rows affected.

[(Decimal('67416.51'),)]

In [13]:
# %%sql
# SELECT ...
# FROM ...

## Revenue by Country
TODO: Write a query that calculates total revenue (sales_amount) by country

In [5]:
%%sql
SELECT country, sum(sales_amount) as total_revenue
FROM factSales f
join dimstore ds on f.store_key = ds.store_key
group by 1
limit 5;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
2 rows affected.

[('Australia', Decimal('33726.77')), ('Canada', Decimal('33689.74'))]

In [14]:
# %%sql
# SELECT ...
# FROM ...

## Revenue by Month
TODO: Write a query that calculates total revenue (sales_amount) by month

In [7]:
%%sql
SELECT month, sum(sales_amount) as total_revenue
FROM factSales f
join dimdate dd on f.date_key = dd.date_key
group by 1
limit 5;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
5 rows affected.

[(1, Decimal('4824.43')),
 (3, Decimal('23886.56')),
 (4, Decimal('28559.46')),
 (2, Decimal('9631.88')),
 (5, Decimal('514.18'))]

In [15]:
# %%sql
# SELECT ...
# FROM ...

## Revenue by Month & Country
TODO: Write a query that calculates total revenue (sales_amount) by month and country. Sort the data by month, country, and revenue in descending order. The first few rows of your output should match the table below.

In [9]:
%%sql
SELECT month, country, sum(sales_amount) as total_revenue
FROM factSales f
join dimdate dd on f.date_key = dd.date_key
join dimstore ds on f.store_key = ds.store_key
group by 1,2
order by 1,2,3 desc
limit 5;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
5 rows affected.

[(1, 'Australia', Decimal('2364.19')),
 (1, 'Canada', Decimal('2460.24')),
 (2, 'Australia', Decimal('4895.10')),
 (2, 'Canada', Decimal('4736.78')),
 (3, 'Australia', Decimal('12060.33'))]

In [16]:
# %%sql
# SELECT ...
# FROM ...

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>month</th>
        <th>country</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Australia</td>
        <td>2364.19</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Canada</td>
        <td>2460.24</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Australia</td>
        <td>4895.10</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Canada</td>
        <td>4736.78</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Australia</td>
        <td>12060.33</td>
    </tr>
</tbody></table></div>

## Revenue Total, by Month, by Country, by Month & Country All in one shot

TODO: Write a query that calculates total revenue at the various grouping levels done above (total, by month, by country, by month & country) all at once using the grouping sets function. Your output should match the table below.

In [11]:
%%sql
SELECT month, country, sum(sales_amount) as total_revenue
FROM factSales f
join dimdate dd on f.date_key = dd.date_key
join dimstore ds on f.store_key = ds.store_key
group by grouping sets ((), month,country, (month, country))

 * postgresql://student:***@127.0.0.1:5432/pagila_star
18 rows affected.

[(1, 'Australia', Decimal('2364.19')),
 (1, 'Canada', Decimal('2460.24')),
 (1, None, Decimal('4824.43')),
 (2, 'Australia', Decimal('4895.10')),
 (2, 'Canada', Decimal('4736.78')),
 (2, None, Decimal('9631.88')),
 (3, 'Australia', Decimal('12060.33')),
 (3, 'Canada', Decimal('11826.23')),
 (3, None, Decimal('23886.56')),
 (4, 'Australia', Decimal('14136.07')),
 (4, 'Canada', Decimal('14423.39')),
 (4, None, Decimal('28559.46')),
 (5, 'Australia', Decimal('271.08')),
 (5, 'Canada', Decimal('243.10')),
 (5, None, Decimal('514.18')),
 (None, None, Decimal('67416.51')),
 (None, 'Australia', Decimal('33726.77')),
 (None, 'Canada', Decimal('33689.74'))]

In [17]:
# %%sql
# SELECT ...
# FROM ...

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>month</th>
        <th>country</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Australia</td>
        <td>2364.19</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Canada</td>
        <td>2460.24</td>
    </tr>
    <tr>
        <td>1</td>
        <td>None</td>
        <td>4824.43</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Australia</td>
        <td>4895.10</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Canada</td>
        <td>4736.78</td>
    </tr>
    <tr>
        <td>2</td>
        <td>None</td>
        <td>9631.88</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Australia</td>
        <td>12060.33</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Canada</td>
        <td>11826.23</td>
    </tr>
    <tr>
        <td>3</td>
        <td>None</td>
        <td>23886.56</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Australia</td>
        <td>14136.07</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Canada</td>
        <td>14423.39</td>
    </tr>
    <tr>
        <td>4</td>
        <td>None</td>
        <td>28559.46</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Australia</td>
        <td>271.08</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Canada</td>
        <td>243.10</td>
    </tr>
    <tr>
        <td>5</td>
        <td>None</td>
        <td>514.18</td>
    </tr>
    <tr>
        <td>None</td>
        <td>None</td>
        <td>67416.51</td>
    </tr>
    <tr>
        <td>None</td>
        <td>Australia</td>
        <td>33726.77</td>
    </tr>
    <tr>
        <td>None</td>
        <td>Canada</td>
        <td>33689.74</td>
    </tr>
</tbody></table></div>