# Exercise 03 - Columnar Vs Row Storage

- The columnar storage extension used here: 
    - cstore_fdw by citus_data [https://github.com/citusdata/cstore_fdw](https://github.com/citusdata/cstore_fdw)
- The data tables are the ones used by citus_data to show the storage extension

In [1]:
%load_ext sql

## STEP 0 : Connect to the local database where Pagila is loaded

### Create the database

In [ ]:
!sudo -u postgres psql -c 'CREATE DATABASE reviews;'

!wget http://examples.citusdata.com/customer_reviews_1998.csv.gz
!wget http://examples.citusdata.com/customer_reviews_1999.csv.gz

# gzip -d means decompress/unzip
!gzip -d customer_reviews_1998.csv.gz 
!gzip -d customer_reviews_1999.csv.gz 

!mv customer_reviews_1998.csv /tmp/customer_reviews_1998.csv
!mv customer_reviews_1999.csv /tmp/customer_reviews_1999.csv

CREATE DATABASE
--2021-12-22 05:50:14--  http://examples.citusdata.com/customer_reviews_1998.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 172.67.73.2, 104.26.14.56, 104.26.15.56, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|172.67.73.2|:80... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://examples.citusdata.com/customer_reviews_1998.csv.gz [following]
--2021-12-22 05:50:14--  https://examples.citusdata.com/customer_reviews_1998.csv.gz
Connecting to examples.citusdata.com (examples.citusdata.com)|172.67.73.2|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24774482 (24M) [application/x-gzip]
Saving to: ‘customer_reviews_1998.csv.gz’

customer_reviews_19 100%[===================>]  23.63M  46.0MB/s    in 0.5s

2021-12-22 05:50:14 (46.0 MB/s) - ‘customer_reviews_1998.csv.gz’ saved [24774482/24774482]

URL transformed to HTTPS due to an HSTS policy
--2021-12-22 05:50:15--  https://examples.citusdata.com/customer_reviews_1999.csv.gz
Resolving examples.citusdata.com (examples.citusdata.com)... 172.67.73.2, 104.26.14.56, 104.26.15.56, ...
Connecting to examples.citusdata.com (examples.citusdata.com)|172.67.73.2|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 48996256 (47M) [application/x-gzip]
Saving to: ‘customer_reviews_1999.csv.gz’

customer_reviews_19 100%[===================>]  46.73M   179MB/s    in 0.3s

2021-12-22 05:50:16 (179 MB/s) - ‘customer_reviews_1999.csv.gz’ saved [48996256/48996256]

### Connect to the database

In [ ]:
DB_ENDPOINT = "127.0.0.1"
DB = 'reviews'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)

In [ ]:
%sql $conn_string

## STEP 1 :  Create a table with a normal  (Row) storage & load data

**TODO:** Create a table called customer_reviews_row with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [8]:
%%sql
DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE customer_reviews_row
(
customer_id text,
review_date date,
review_rating integer,
review_votes integer,
review_helpful_votes integer,
product_id char(10),
product_title text,
product_sales_rank bigint,
product_group text,
product_category text,
product_subcategory text,
similar_product_ids char(10)[]

)

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

In [ ]:
%%sql
DROP TABLE IF EXISTS customer_reviews_row;
CREATE TABLE ...

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [9]:
%%sql 
COPY customer_reviews_row from '/tmp/customer_reviews_1998.csv' with csv;
COPY customer_reviews_row from '/tmp/customer_reviews_1999.csv' with csv;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

In [ ]:
%%sql 
COPY ...
COPY ...

## STEP 2 :  Create a table with columnar storage & load data

First, load the extension to use columnar storage in Postgres.

In [10]:
%%sql

-- load extension first time after install
CREATE EXTENSION cstore_fdw;

-- create server object
CREATE SERVER cstore_server FOREIGN DATA WRAPPER cstore_fdw;

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

**TODO:** Create a `FOREIGN TABLE` called `customer_reviews_col` with the column names contained in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files.

In [11]:
%%sql
-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

-------------
CREATE FOREIGN TABLE customer_reviews_col
(customer_id text,
review_date date,
review_rating integer,
review_votes integer,
review_helpful_votes integer,
product_id char(10),
product_title text,
product_sales_rank bigint,
product_group text,
product_category text,
product_subcategory text,
similar_product_ids char(10)[])

-- leave code below as is
SERVER cstore_server
OPTIONS(compression 'pglz');

 * postgresql://student:***@127.0.0.1:5432/reviews
Done.
Done.

[]

In [ ]:
%%sql
-- create foreign table
DROP FOREIGN TABLE IF EXISTS customer_reviews_col;

-------------
CREATE FOREIGN TABLE #write code here


-------------
-- leave code below as is
SERVER cstore_server
OPTIONS(compression 'pglz');

**TODO:** Use the [COPY statement](https://www.postgresql.org/docs/9.2/sql-copy.html) to populate the tables with the data in the `customer_reviews_1998.csv` and `customer_reviews_1999.csv` files. You can access the files in the `/tmp/` folder.

In [12]:
%%sql 
COPY customer_reviews_col FROM '/tmp/customer_reviews_1998.csv' WITH CSV;
COPY customer_reviews_col FROM '/tmp/customer_reviews_1999.csv' WITH CSV;

 * postgresql://student:***@127.0.0.1:5432/reviews
589859 rows affected.
1172645 rows affected.

[]

## Step 3: Compare perfromamce

Now run the same query on the two tables and compare the run time. Which form of storage is more performant?

**TODO**: Write a query that calculates the average `review_rating` by `product_title` for all reviews in 1995. Sort the data by `review_rating` in descending order. Limit the results to 20.

First run the query on `customer_reviews_row`:

In [19]:
%%time
%%sql
select *
from customer_reviews_col
limit 5;

 * postgresql://student:***@127.0.0.1:5432/reviews
5 rows affected.
CPU times: user 3.13 ms, sys: 0 ns, total: 3.13 ms
Wall time: 62.8 ms

[('AE22YDHSBFYIP', datetime.date(1970, 12, 30), 5, 10, 0, '1551803542', 'Start and Run a Coffee Bar (Start & Run a)', 11611, 'Book', 'Business & Investing', 'General', ['0471136174', '0910627312', '047112138X', '0786883561', '0201570483']),
 ('AE22YDHSBFYIP', datetime.date(1970, 12, 30), 5, 9, 0, '1551802538', 'Start and Run a Profitable Coffee Bar', 689262, 'Book', 'Business & Investing', 'General', ['0471136174', '0910627312', '047112138X', '0786883561', '0201570483']),
 ('ATVPDKIKX0DER', datetime.date(1995, 6, 19), 4, 19, 18, '0898624932', 'The Power of Maps', 407473, 'Book', 'Nonfiction', 'Politics', ['0226534219', '0226534170', '1931057001', '0801870909', '157230958X']),
 ('AH7OKBE1Z35YA', datetime.date(1995, 6, 23), 5, 4, 4, '0521469112', 'Invention and Evolution', 755661, 'Book', 'Science', 'General', ['1591391857']),
 ('ATVPDKIKX0DER', datetime.date(1995, 7, 14), 5, 0, 0, '0679722955', 'The Names (Vintage Contemporaries (Paperback))', 264928, 'Book', 'Literature & Fiction', 'General', ['0140152741', '0679722947', '0140156046', '0679722939', '0679722920'])]

In [18]:
%%time
%%sql
select *
from customer_reviews_row
limit 5;

 * postgresql://student:***@127.0.0.1:5432/reviews
5 rows affected.
CPU times: user 2.08 ms, sys: 961 µs, total: 3.04 ms
Wall time: 5.53 ms

[('AE22YDHSBFYIP', datetime.date(1970, 12, 30), 5, 10, 0, '1551803542', 'Start and Run a Coffee Bar (Start & Run a)', 11611, 'Book', 'Business & Investing', 'General', ['0471136174', '0910627312', '047112138X', '0786883561', '0201570483']),
 ('AE22YDHSBFYIP', datetime.date(1970, 12, 30), 5, 9, 0, '1551802538', 'Start and Run a Profitable Coffee Bar', 689262, 'Book', 'Business & Investing', 'General', ['0471136174', '0910627312', '047112138X', '0786883561', '0201570483']),
 ('ATVPDKIKX0DER', datetime.date(1995, 6, 19), 4, 19, 18, '0898624932', 'The Power of Maps', 407473, 'Book', 'Nonfiction', 'Politics', ['0226534219', '0226534170', '1931057001', '0801870909', '157230958X']),
 ('AH7OKBE1Z35YA', datetime.date(1995, 6, 23), 5, 4, 4, '0521469112', 'Invention and Evolution', 755661, 'Book', 'Science', 'General', ['1591391857']),
 ('ATVPDKIKX0DER', datetime.date(1995, 7, 14), 5, 0, 0, '0679722955', 'The Names (Vintage Contemporaries (Paperback))', 264928, 'Book', 'Literature & Fiction', 'General', ['0140152741', '0679722947', '0140156046', '0679722939', '0679722920'])]

In [28]:
%%time
%%sql

SELECT customer_id, review_rating, product_id, product_title
FROM customer_reviews_row
where extract(year from review_date) = 1998
limit 5;

 * postgresql://student:***@127.0.0.1:5432/reviews
5 rows affected.
CPU times: user 2.44 ms, sys: 1.1 ms, total: 3.54 ms
Wall time: 48 ms

[('ASRZNFVVUXLU8', 4, '0835602273', 'Extrasensory Perception of Quarks'),
 ('ACJMEKOBWKJ0D', 5, '0879389982', 'Harley-Davidson Panheads'),
 ('ATVPDKIKX0DER', 5, '0782127258', 'MCSE'),
 ('ATVPDKIKX0DER', 5, '1567406831', 'Tuesdays with Morrie '),
 ('ATVPDKIKX0DER', 1, '0061094404', 'Power of a Woman')]

In [21]:
%%time
%%sql

SELECT product_title, avg(review_rating)
FROM customer_reviews_row
where extract(year from review_date) = 1995
group by 1
order by 2 desc
limit 5
;

 * postgresql://student:***@127.0.0.1:5432/reviews
5 rows affected.
CPU times: user 5.18 ms, sys: 0 ns, total: 5.18 ms
Wall time: 589 ms

[('Interview with the Vampire', Decimal('5.0000000000000000')),
 ('The Joy Luck Club ', Decimal('5.0000000000000000')),
 ('Simulating Neural Networks With Mathematica', Decimal('5.0000000000000000')),
 ("A People's History of the United States", Decimal('5.0000000000000000')),
 ('Snow Crash (Bantam Spectra Book)', Decimal('5.0000000000000000'))]

In [ ]:
%%time
%%sql

SELECT...
FROM customer_reviews_row
;

 Then on `customer_reviews_col`:

In [24]:
%%time
%%sql

SELECT product_title, avg(review_rating)
FROM customer_reviews_col
where extract(year from review_date) = 1995
group by 1
order by 2 desc
limit 5
;

 * postgresql://student:***@127.0.0.1:5432/reviews
5 rows affected.
CPU times: user 4.42 ms, sys: 0 ns, total: 4.42 ms
Wall time: 571 ms

[('Interview with the Vampire', Decimal('5.0000000000000000')),
 ('The Joy Luck Club ', Decimal('5.0000000000000000')),
 ('Simulating Neural Networks With Mathematica', Decimal('5.0000000000000000')),
 ("A People's History of the United States", Decimal('5.0000000000000000')),
 ('Snow Crash (Bantam Spectra Book)', Decimal('5.0000000000000000'))]

In [ ]:
%%time
%%sql

SELECT...
FROM customer_reviews_col
;

## Conclusion: We can see that the columnar storage is faster!